
h2{
    background-color: #FFD6D6;
    text-align: center;
    padding: 3.5rem;
}


.crepeSucre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 2rem 5rem 6rem 5rem;
    background-color: #FFD6D6;
}

.crepeSucre p{
    padding-bottom: 1rem;
    font-size: 1.4rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;    
}


.Indentation{
    margin-left: 2rem;
    font-size: 1.4rem;
    font-weight: normal;
}




