/*-------------------------------------------RESET DU NAVIGATEUR----------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------------------------------------FIN_RESET----------------------------------------*/

body{
    color: #642602;
    font-family: cursive;
}
.hr{
    border: none;
    height: 1px;
    background-color: #ff8989;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    /* gap: 2rem; */
}
h1{
    width: 60%;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    word-spacing: 1rem;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 40%;
}
/*______________________________________________________________________________________________________*/

/*NAVBAR*/

.navbar{
    display: flex;
    justify-content: left;
    gap: 2rem;
    text-underline-offset: 2px;
    padding: 2rem;
    background-color: #FFD6D6;
}
.navbar a{
    color: #642602;
    font-size: 1rem;
    /* font-family:Arial, Helvetica, sans-serif; */
}

/*__________________________________________________________________________________________*/

h2{
    padding-bottom: 2rem;
    font-size: 2rem;

}

/*______________________________________FOOTER_________________________________________________*/

footer{
    padding: 2.5rem;
    text-align: center;
}



/* Responsive Design à apprendre ou à modifier 768px*/
@media screen and (max-width: 1080px ) {

  
  nav{
    flex-direction: column;
    align-items: center;

  }
  .navbar {
    gap: 1rem;
    padding: 1rem;
  }
  .navbar a {
    font-size: 0.98rem;
  }
 

  .contact {
    text-align: center;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    font-size: 0.98rem;
  }
  .contact img{
    width: 50%
  }
  .header h1{
    font-size: 2.2rem;
    justify-content: flex-start;
    align-items: start;
    text-align: center;
  }
  .header{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 1.5rem 0.5rem;
  }
  h2{
    font-size: 1.2rem;
    padding: 1rem;
    border-top: #ff8989 1px solid;
    border-bottom: #ff8989 1px solid;
    text-align: center;
  }
  .crepeSucre, .accueil{
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
  .crepeSucre img{
    width: 50%;
  }
  .hr{
    height: 1px;
  }
  .Indentation{
    margin: auto;
    font-size: 0.98rem;
}
  .crepeSucre p{
    font-size: 1rem;
  }
main .mentions{
    padding: 1rem;
}
  .accueil img{
    width: 50%;
}

}